.stack-NavBar {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.FeedContainer {
    display: flex;
    background: black;
    color:white;
}

main.FeedContent {
    width: calc(100% - 140px);
     padding-left: 10px;
}

aside.FeedSideBar {
    width: 140px;
    border-right: 1px solid gray;
}

button.category-btn {
    background: transparent;
    width: 100%;
    text-align: left;
}

button.category-btn {
    background: transparent;
    width: 100%;
    text-align: left;
    border:none;
    padding: 10px 5px;
}

.color{

  color:red
}