.Box-App {

  background-color: black;
  padding: 16px;
}

.Stack-NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  position: sticky;
  Top: 0;
  background-color:black;
  justify-content: space-between;
  z-index: 1000;
  box-sizing: border-box;

}

.Paper-SearchBar {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 1050px;
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid #e3e3e3;

}

.Paper-SearchBar input {

  padding-left: 1px;

}

.SearchButton-SearchBar {

  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
  margin-left: 8px;
  display: flex;
  align-items: center;

}


.FeedContainer{
display: flex;
flex-direction: column;

}
.FeedSideBar {
 background-color: #e3e3e3;
color: white;
padding: 16px;

width: 240px;
height:92vh;
position: sticky;
top:0;

}

.FeedContent{

  flex: 1;
  padding: 16px;
}

.h5Feed {
margin-top: 12px;
  color: white;
  font-size: 14px;
}

.SideBar-Stack
{
display: flex;
flex-direction: column;

}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}